.App {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.App-header {
  color: white;
  padding: 20px;
}

.SplitPane {
  display: flex;
}

.EditorPane {
  width: 40%;
}

.PreviewPane {
  width: 60%;
  background-color: #fff;
  overflow: auto; /* Adds scroll to the preview pane if content overflows */
}

/* You can add additional styles for the editors and template selector */